@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core + Vue.Js";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="app">
    <div class="card-deck pt-4">
        @for (var num = 1; num <= 4; num++)
        {
            var Card = $"Card_{num}";
            <vue-card id="@Card" name="@Card" img="https://vuejs.org/images/logo.png" class="mb-4">
                <h6>Card @num</h6>
            </vue-card>
        }
    </div>
</div>

@section Scripts {

    <partial name="_Card" />

    <script type="text/javascript">
        var app = new Vue({
            el: '#app'
        })
    </script>
}